body {
  background-image: url(./backgroung.jpg);
  width: 200px;
  height: 200px;
  background-size: cover;
}

.container {
  color: white;
  display: flex;
  justify-content: center;
}

.image-two {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.app {
  min-height: 80vh;
  width: 800px;
  margin: 20px auto;

}

.crossed {
  text-decoration: line-through 2px #029c90;
}

ul,
li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.btn-add {
  background: #fec969;
  margin-top: 5px;
}

.btn-delete {
  background: #ff9226;
  margin-bottom: 5px;
}



.btn {
  padding: 10px;
  border: none;
  width: 70%;
  color: black;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

input {
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}